@{ ViewData["Title"] = "İletişim"; }
<h1>@ViewData["Title"]</h1>

<p>İletişim Sayfası</p>

<h3>Tel: </h3> +90 (555) 444 33 22
<h3>Adres: </h3> Lorem ipsum dolor sit amet
<h3>Mail: </h3>admin@kitapci123.com
